/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html {
    font-family: 'Kanit', sans-serif;
}

body {
    font-family: 'Kanit', sans-serif;
}
.home, .header, .subheader, .passage, .subheader2, .subheader3{
    font-family: 'Kanit', sans-serif;
}
.home {
    font-size: 50px;
    color: #EEEDED;
    text-align: center;
    background-color: #0D1282;
    border-radius: 10px;
    margin-top: 20px;
    padding: 50px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 50px;
}
.header{
    font-size: 40px;
    margin-bottom: 40px;
    color: #0D1282;
}

.subheader{
    font-size: 25px;
    margin-bottom: 30px;
    color: #0D1282;
}

.passage{
    font-size: 20px;
    margin-bottom: 25px;
}

.subheader2{
    font-size: 50px;
    color: #EEEDED;
    text-align: center;
    background-color: #0D1282;
    border-radius: 10px;
    margin-top: 20px;
    padding: 50px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 50px;
}

.subheader3{
    font-size: 40px;
    margin-bottom: 40px;
    color: #0D1282;
}

.menu_topic{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
    width: 100%;
    font-weight: bold;
    background-color: #0D1282;
    border-radius: 10px;
}

.menu_pic{
    width: 300px;
    border-radius: 20px;
}

.image{
    text-align: center;
}

div.st-emotion-cache-1v0mbdj.e115fcil1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
