/* styles.css */
.home {
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: #EEEDED;
    text-align: center;
    background-color: #0D1282;
    border-radius: 10px;
    margin-top: 20px;
    padding: 50px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 50px;
}
.header{
    font-size: 40px;
    margin-bottom: 40px;
    color: #0D1282;
}

.subheader{
    font-size: 25px;
    margin-bottom: 30px;
    color: #0D1282;
}

.passage{
    font-size: 20px;
    margin-bottom: 25px;
}

.subheader2{
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: #EEEDED;
    text-align: center;
    background-color: #0D1282;
    border-radius: 10px;
    margin-top: 20px;
    padding: 50px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 50px;
}

.subheader3{
    font-size: 40px;
    margin-bottom: 40px;
    color: #0D1282;
}

